/********************* APP.VUE *******************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;900&display=swap");

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: darkslategray;
	background-image: url(../assets/1017.png);
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 2rem;
}

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

button,
a#email,
#submit {
	border-radius: 20% / 50%;
	padding: 1rem;
	background-color: white;
	color: darkslategray;
	text-decoration: none;
	font-weight: bold;
	border: 0;
}

button:hover {
	background-color: grey;
	cursor: pointer;
}

h1.title span {
	margin-top: 2rem;
	margin-bottom: 3rem;
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
	border-bottom: 1px solid goldenrod;
}

h1.title span:after {
	content: "";
	position: absolute;
	bottom: calc(-100% - 1px);
	margin-left: -10px;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border-top: 1px solid goldenrod;
}
.view {
	padding-top: 5rem;
	min-height: 60vh;
}

.father {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
/****************** Menu.vue *****************/

#burgerDiv {
	background-color: darkslategray;
	background: linear-gradient(rgba(7, 7, 7, 0.65), rgba(7, 7, 7, 0.65));
	display: flex;
	justify-content: space-between;
	height: 4rem;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#burgerDiv > img {
	height: 3rem;
	margin: 0.5rem;
	cursor: pointer;
}

#header {
	background-color: darkslategray;
	background: linear-gradient(rgba(7, 7, 7, 0.65), rgba(7, 7, 7, 0.65));
	justify-content: space-between;
	align-items: center;
	height: 15rem;
	position: fixed;
	width: 100%;
	display: none;
}

#nav {
	font-size: 1.2rem;
	padding: 30px;
	display: flex;
	flex-direction: column;
	text-align: right;
	/* 	display: none; */
}

#nav a {
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin: 0.5rem;
}

#nav a:hover {
	color: goldenrod;
}

#nav a.router-link-exact-active,
nav a.router-link-exact-active {
	color: goldenrod;
	text-decoration: underline;
}

img#logo {
	display: inline-block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 6.5rem;
	position: relative;
	top: -30%;
}

nav {
	background-color: darkslategray;
	background: linear-gradient(rgba(7, 7, 7, 0.65), rgba(7, 7, 7, 0.65));
	display: flex;
	flex-direction: column;
	height: 100%;
}

nav > a {
	margin-top: 2rem;
	text-decoration: wavy;
	color: white;
	font-weight: 800;
	font-size: 1.2rem;
}

/**************** FOOTER *****************/

#foot {
	padding: 1rem;
	background-color: darkslategray;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#foot > div {
	margin: 1rem;
}

ul {
	padding: 0;
}
h3 {
	text-align: initial;
}
#social {
	flex-direction: row;
	justify-content: space-evenly;
}
#social > li img {
	height: 2.5rem;
	width: auto;
}

#social > li img:hover {
	filter: contrast(0%);
}

#social > li {
	margin: 1rem 1rem 0 0;
	list-style: none;
}

#contact {
	margin-bottom: 3rem;
}

#contact > li {
	list-style: none;
	text-align: initial;
}

a#email:hover,
#contactButton:hover {
	background-color: grey;
}

/*********** ABOUT ************/

#links {
	flex-direction: row;
	margin-top: 2.5rem;
	justify-content: space-evenly;
}

li {
	margin: 1rem 0;
	font-size: 1.2rem;
}
#competences {
	background-color: white;
	padding: 3rem;
	border: solid 0.1rem coral;
	border-radius: 1rem;
	margin: 1rem;
}
#competences > h3 {
	margin: 3.5rem 0 1.5rem 0;
	font-size: 1.5rem;
}

#main {
	/* 	background: linear-gradient(
			rgba(241, 253, 254, 0.6),
			rgba(241, 253, 254, 0.6)
		),
		url("../assets/me.jpg"); */
	background-color: darkslategray;
	background-size: contain;
	margin: 3rem 0;
	justify-content: space-around;
	height: auto;
	color: white;
}

#main > div {
	padding: 3rem 2rem;
	text-align: left;
}

#main > div p {
	margin: 2rem 1rem;
	font-size: 1rem;
	font-weight: 700;
	text-align: justify;
}

#main > img {
	object-fit: cover;
	width: 100%;
	height: auto;
	/* 	display: none;
 */
}

#toolDiv {
	margin-top: 1rem;
	margin-bottom: 3rem;
	flex-direction: row;
	flex-wrap: wrap;
}

img.tools {
	height: 3rem;
	width: auto;
	display: inline-block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#softSkills {
	margin: 2rem auto;
	max-width: 40rem;
	padding: 1rem 2.5rem;
	background-color: darkslategray;
	color: white;
	border-radius: 1rem;
}
#softSkills > li {
	text-align: left;
	list-style: inherit;
}

/**************** CONTACT ****************/

#contactDiv {
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 2rem;
}

#contactPicture {
	height: auto;
	object-fit: contain;
}

#contactForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 3rem;
}

#contactForm > label {
	margin-bottom: 0.5rem;
	text-align: left;
	font-size: large;
	font-weight: bold;
}

#contactForm > input {
	padding: 0.75rem;
	margin-bottom: 2rem;
	border: 0.1rem solid lightgray;
}

textarea {
	border: 0.1rem solid lightgray;
}

#contactButton {
	margin-top: 2rem;
	background-color: black;
	color: white;
	font-size: large;
}

#submit {
	background-color: darkslategray;
	color: white;
	font-size: large;
	padding: 1rem 2rem;
}

#submit:hover {
	background-color: goldenrod;
	cursor: pointer;
}

/************** home ********************/

header {
	background: linear-gradient(rgba(41, 53, 54, 0.8), rgba(41, 53, 54, 0.8)),
		url(../assets/portada.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	height: 30rem;
	padding: 5rem;
	padding-bottom: 0;
}

header > div {
	margin-top: 10rem;
}

header > div > h1 {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

header > div > h3 {
	color: lightgrey;
	text-align: center;
}

#intro {
	max-width: 80rem;
	display: inline-block;
	text-align: left;
	background-color: darkslategray;
	color: white;
	padding: 1rem;
	border-radius: 1rem;
	margin: 1rem;
	margin-bottom: 3rem;
}

#intro > p {
	margin: 1rem;
}

#intro :last-child {
	margin-top: 2rem;
	text-align: center;
	font-weight: 700;
	font-size: 1.2rem;
}

.parallax {
	/* Set a specific height */
	height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 800px;
}

#towerBridge {
	/* The image used */
	background-image: url("../assets/towerBridge.jpg");
}
#towerBridge > p {
	position: relative;
	top: 100%;
	font-size: 0.8rem;
	overflow-x: hidden;
}

#languages {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#languages > div {
	margin: 1rem auto;
}

.languagesPic {
	width: 3.5rem;
	border: solid 0.2rem black;
	border-radius: 50%;
}
#languages progress {
	width: 7rem;
	padding: 1.3rem;
	margin-left: 0.5rem;
}

#languages div > span {
	display: flex;
	align-items: center;
}

/******************** LISTADOS *******************************/

textarea {
	border: 0;
	background-color: transparent;
	overflow: auto;
	outline: none;
	box-shadow: none;
	resize: none;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	line-height: 150%;
	height: 6rem;
}

h2 {
	text-align: justify;
	padding: 1rem;
}

#functionLists {
	padding: 1rem 2rem;
	margin: 2rem auto;
	background-color: darkslategray;
	color: white;
	border-radius: 1rem;
	max-width: 800px;
}

.functions {
	text-align: left;
	margin: 0.6rem;
	font-size: 1.1rem;
}

button#seeProject {
	margin-bottom: 3rem;
	color: white;
	background-color: goldenrod;
}

button#seeProject:hover {
	background-color: grey;
}

#functionatility {
	margin-top: 2rem;
}

#functionatility > li {
	background-color: darkslategray;
	border-radius: 1rem;
	color: white;
	padding: 1rem;
	margin: 1rem auto;
}

#functionatility li > h4 {
	text-align: justify;
}

#functionatility > li button {
	margin-top: 1rem;
	background-color: goldenrod;
	color: white;
	border-radius: 5rem;
}

#functionatility > li button:hover {
	background-color: white;
	cursor: pointer;
	color: darkslategray;
}

/*********************** CARRUSEL ***********************/

section.hooper {
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	margin-bottom: 3rem;
}

ul.hooper-track {
	display: flex;
	align-items: center;
}

.imgCarrousel {
	max-height: 50rem;
	width: 100%;
}
button.hooper-next,
button.hooper-prev {
	background-color: white;
	padding: 0.5rem;
	border-radius: 5px;
}

button.hooper-next:hover,
button.hooper-prev:hover {
	background-color: darkslategray;
}

/********************** PROYECTOS ************************/

#projectWallpaper {
	background-image: url(../assets/projectWallpaper.jpg);
}

h3 {
	text-align: center;
}

#technologiesTitle {
	margin: 1rem;
	margin-top: 3rem;
}

#containterIframe {
	padding: 1rem;
	position: relative;
	height: 0;
	padding-bottom: 56.25%; /*panorámico*/
	padding-top: 25px;
}

#containterIframe > iframe {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

#projectTechnologies {
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 2rem;
	flex-wrap: wrap;
}

.projectTechnology {
	width: auto;
	height: 50px;
}

/********************* FUNCIONALIDADES ******************/

#functionalityWallpaper {
	background-image: url(../assets/functionalityWallpaper.jpg);
	margin-top: 0;
}

/********************* TIMELINE ***********************/

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	color: white;
	z-index: 0;
}

.timeline::after {
	content: "";
	position: absolute;
	width: 3px;
	background-color: darkslategray;
	top: 0;
	bottom: 0;
	left: 3.6%;
	margin-left: -2px;
}

.timeline-item {
	position: relative;
	background-color: inherit;
}

.timeline-item::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	right: 95%;
	background-color: #fff;
	border: 1px solid darkslategray;
	top: 25px;
	border-radius: 50%;
	z-index: 1;
}

.left::before,
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 20px;
	width: 0;
	z-index: 1;
	left: 20px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent goldenrod transparent transparent;
}

.timeline-item > div {
	background-color: darkslategray;
	position: relative;
	border-radius: 16px;
	margin: 2rem;
	list-style: inherit;
}

.timeline-item > div p {
	border-radius: 10px 10px 0 0;
}

.timeline-item > div p.project {
	background-color: rgb(250, 166, 198);
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 800;
	color: black;
}

.timeline-item > div p.academic {
	background-color: rgb(187, 187, 255);
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 800;
	color: black;
}

.timeline-item > div p.experience {
	background-color: rgb(255, 226, 131);
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 800;
	color: black;
}

.timeline-item > div div {
	padding: 1rem;
}

.timeline-item > div div :nth-child(n) {
	margin: 0.3rem;
}
.timeline-item > div div h3 {
	text-decoration: underline;
}

.timeline-item > div div p#description {
	font-weight: 100;
	font-size: 0.9rem;
	margin: 0.7rem auto;
	text-align: justify;
}

.timeline-item > div div ul li {
	font-size: 0.8rem;
	margin: inherit;
	margin: 0 1rem;
	list-style: inherit;
	text-align: left;
}

#timelineDivPic {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0 auto;
	justify-content: space-evenly;
}

#timelineDivPic > div {
	padding: 0;
}

#timelinePic {
	height: 2rem;
}

/********************** BLOG ***************************/
#blog {
	padding-top: 4rem;
}

.blogList {
	margin: 0 1rem;
}

.blogList > li > a {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	text-decoration: none;
}

.blogList > li > a > div#entryPic {
	margin-right: 5rem;
	max-width: 15rem;
	max-height: 15rem;
	object-fit: cover;
}

.blogList > li > a > div > img {
	display: none;
	height: 15rem;
	width: 15rem;
	object-fit: cover;
}

.blogList > li > a > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: darkslategrey;
}

.blogList > li > a > div > h1 {
	font-size: 1.7rem;
}

.blogList > li > a > div > p {
	margin: 1rem 0;
	font-size: 1.2rem;
}

#introBlog {
	text-align: left;
}

#date {
	text-align: right;
	font-style: oblique;
}

#salto {
	background-color: darkslategrey;
	height: 0.1rem;
	margin-bottom: 1rem;
}

/***************** ENTRADAS DE BLOG  *********************/
section:not(.timelineSection, .welcome) {
	max-width: 80rem;
	padding: 1rem;
	padding-top: 4rem;
	margin: auto;
	margin-bottom: 3rem;
}
section:not(.timelineSection, .welcome) > p {
	text-align: left;
	font-size: 1rem;
	margin: 1.5rem 0;
}



section:not(.timelineSection, .welcome) > :last-child {
	margin-top: 5rem;
	text-align: left;
}

section:not(.timelineSection, .welcome) > :last-child p  img {
	width: auto;
	max-width: 100%;
	display: block;
	margin: 1rem auto;

}

section:not(.timelineSection, .welcome) > :last-child h1{
	margin-top: 5rem;
	text-align: center;
}

section:not(.timelineSection, .welcome) > :last-child  p {
	margin-top: 1rem;
}

section:not(.timelineSection,.welcome)>:last-child p:nth-child(2) {
	text-align: center;
}

section:not(.timelineSection, .welcome) > :last-child  p:last-child {
	text-align: center;
	margin-top: 2rem;
}

section:not(.timelineSection, .welcome) > :last-child  a:last-child {
		border-radius: 20% / 50%;
		padding: 1rem;
		background-color: darkslategray ;
		color: white;
		text-decoration: none;
		font-weight: bold;
		border: 0;
}

section:not(.timelineSection, .welcome) > :last-child  a:last-child:hover{
	background-color: goldenrod ;
	color: white;
}


section:not(.timelineSection, .welcome) > :nth-child(0n + 2) {
	text-align: center;
	margin-bottom: 4rem;
}

em {
	display: block;
	font-size: 1rem;
	text-align: center;
	margin-bottom: 3rem
}

section:not(.timelineSection, .welcome) > p > a {
	border-radius: 20% / 50%;
	padding: 1.3rem;
	background-color: darkslategray;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: 0;
	font-size: 1.2rem;
}

section:not(.timelineSection, .welcome) > p > a:hover {
	background-color: goldenrod;
	color: darkslategray;
}

section:not(.timelineSection, .welcome) > p > img {
	max-width: 100%;
	max-height: 15rem;
	text-align: center;
}

@media (min-width: 750px) {
	.father {
		flex-direction: row;
	}

	h1 {
		font-size: 2.5rem;
	}

	.view {
		margin: 0 auto;
		padding-top: 13rem;
	}

	#burgerDiv {
		display: none;
	}

	img#logo {
		height: 15rem;
		position: inherit;
		top: inherit;
	}

	#header {
		display: flex;
	}

	#foot {
		flex-direction: row;
	}

	#contactDiv {
		flex-direction: row;
	}

	#contactDiv > img {
		width: 50%;
	}

	#contactDiv > form {
		width: 100%;
		padding-top: 3rem;
		margin-left: 3rem;
	}

	#main {
		background: inherit;
		color: white;
		background-color: darkslategray;
	}

	#main > div p {
		margin: 2rem 1rem;
		font-size: 1.3rem;
		font-weight: 700;
	}

	#main > img {
		width: 35%;
		display: inherit;
	}

	img.tools {
		height: 7rem;
	}

	#languages {
		flex-direction: row;
	}

	#functionatility > li {
		padding: 1rem;
		margin: 1rem auto;
		margin-left: 3rem;
	}

	.timeline {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		color: white;
	}

	.timeline::after {
		content: "";
		position: absolute;
		width: 3px;
		background-color: darkslategray;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -2px;
	}

	.timeline-item {
		position: relative;
		background-color: inherit;
		width: 50%;
	}

	.timeline-item::after {
		content: "";
		position: absolute;
		width: 15px;
		height: 15px;
		right: -9px;
		background-color: #fff;
		border: 2px solid darkslategray;
		top: 22px;
		border-radius: 50%;
		z-index: 1;
	}

	.left {
		left: 0;
	}

	.right {
		left: 50%;
	}

	.left::before {
		left: 93.5%;
		top: 17px;
		width: 10px;
		z-index: 1;
		border: medium solid white;
		border-width: 15px 0 15px 15px;
		border-color: transparent transparent transparent goldenrod;
	}

	.right::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 17px;
		width: 0;
		z-index: 1;
		left: 12px;
		border: medium solid white;
		border-width: 15px 15px 15px 0;
		border-color: transparent goldenrod transparent transparent;
	}

	.right::after {
		left: -10px;
	}

	.timeline-item > div {
		background-color: darkslategray;
		position: relative;
		border-radius: 16px;
		margin: 2rem;
		list-style: inherit;
	}

	.timeline-item > div p {
		border-radius: 10px 10px 0 0;
	}

	.timeline-item > div p.project {
		background-color: rgb(250, 166, 198);
		padding: 1rem;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 800;
		color: black;
	}

	.timeline-item > div p.academic {
		background-color: rgb(187, 187, 255);
		padding: 1rem;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 800;
		color: black;
	}

	.timeline-item > div p.experience {
		background-color: rgb(255, 226, 131);
		padding: 1rem;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 800;
		color: black;
	}

	.blogList > li > a {
		flex-direction: row;
	}

	.blogList > li > a > div > img {
		display: inherit;
	}

	.blogList > li > a > div {
		margin-right: 3rem;
	}

	section:not(.timelineSection, .welcome) {
		padding-top: 16rem;
	}

	#blog {
		padding-top: 16rem;
	}
	section:not(.timelineSection, .welcome) {
		padding: 3rem;
	}

	section:not(.timelineSection, .welcome) > h1 {
		padding-top: 13rem;
		text-align: left;
		font-size: 3rem;
		margin: 1.5rem 0;
	}
	section:not(.timelineSection, .welcome) > :last-child h1{
		margin-top: 15rem;
	}
	
}

@media (min-width: 1200px) {
	.left::before {
		left: 570px;
	}

	.view {
		margin: 0 12rem;
	}

	#nav {
		flex-direction: row;
	}
	section:not(.timelineSection, .welcome) > p > img {
		max-height: 50rem;
	}
}
